[Unit]
Description=Tints the screen for daytime use

[Service]
Environment=XAUTHORITY=/home/guru/.Xauthority
ExecStart=/home/guru/.scripts/day.sh
Type=OneShot

[Install]
WantedBy=graphical.target
