[Unit]
Description=Tints the screen for nighttime use

[Service]
Environment=XAUTHORITY=/home/guru/.Xauthority
ExecStart=/home/guru/.scripts/night.sh
Type=oneshot

[Install]
WantedBy=graphical.target
